# Miscellaneous
**.DS_Store

# Melos-generated pubspec overrides
pubspec_overrides.yaml

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore
