name: leancode_notifications_center
version: 1.0.0-alpha
description: >-
  An internal package that handles our notification center.
  
environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  collection: ^1.16.0
  cqrs: ^9.0.0
  flutter:
    sdk: flutter
  flutter_bloc: ^8.0.1
  in_app_update: ^4.1.4
  leancode_contracts: ^0.6.0
  leancode_hooks: ^0.0.4
  logging: ^1.2.0 
  package_info_plus: ^4.0.2
  shared_preferences: ^2.2.0
  url_launcher: ^6.1.12
  version: ^3.0.2

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter
  leancode_contracts_generator: ^0.11.0
  leancode_lint: ^4.0.0+1
  mocktail: ^0.3.0


flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
