name: leancode_hooks publish

on:
  push:
    tags: ['leancode_hooks-v*']

jobs:
  publish:
    name: Publish to pub.dev

    runs-on: ubuntu-latest

    permissions:
      id-token: write

    defaults:
      run:
        working-directory: packages/leancode_hooks

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: 2.18.3

      - name: Publish
        run: dart pub publish -f
