name: leancode_flutter_svg_adaptive_loader publish

on:
  push:
    tags: ['leancode_flutter_svg_adaptive_loader-v*']

jobs:
  publish:
    name: Publish to pub.dev

    runs-on: ubuntu-latest

    permissions:
      id-token: write

    defaults:
      run:
        working-directory: packages/leancode_flutter_svg_adaptive_loader

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.13.x
          cache: true

      - name: Publish and release
        uses: leancodepl/mobile-tools/.github/actions/pub-release@pub-release-v1
        with:
          path: packages/leancode_flutter_svg_adaptive_loader
