name: leancode_lint test

on:
  push:
    branches: [master]
    tags-ignore: ['leancode_lint-v*']
    paths:
      - 'packages/leancode_lint/**'
  pull_request:
    branches: [master]
    paths:
      - 'packages/leancode_lint/**'

jobs:
  test:
    name: Flutter ${{ matrix.channel }}${{ matrix.version }}

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: 3.41.x

    defaults:
      run:
        working-directory: packages/leancode_lint

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.channel }}
          flutter-version: ${{ matrix.version }}
          cache: true

      - name: Flutter version
        run: flutter --version

      - name: Run lint rules tests
        run: dart test

      - uses: codecov/codecov-action@v1
        with:
          flags: leancode_lint
