name: leancode_markup test

on:
  push:
    branches: [master]
    tags-ignore: ['leancode_markup-v*']
    paths:
      - 'packages/leancode_markup/**'
  pull_request:
    branches: [master]
    paths:
      - 'packages/leancode_markup/**'

jobs:
  test:
    name: Flutter ${{ matrix.channel }}${{ matrix.version }}

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: '3.19.x'

    defaults:
      run:
        working-directory: packages/leancode_markup

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: ${{ matrix.channel }}
          flutter-version: ${{ matrix.version }}

      - name: Flutter version
        run: flutter --version

      - name: Download pub dependencies
        run: flutter pub get

      - name: Run analyzer
        run: |
          flutter analyze
          dart run custom_lint

      - name: Run tests
        run: |
          flutter test
          
      - name: Dry run pub publish
        # We don't want it to fail the CI, it's just to see how would `pub publish` behave.
        run: dart pub publish --dry-run || true
