name: leancode_hooks test

on:
  push:
    branches: [master]
    ignore-tags: ['leancode_hooks-v*']
    paths:
      - 'packages/leancode_hooks/**'
  pull_request:
    branches: [master]
    paths:
      - 'packages/leancode_hooks/**'

jobs:
  test:
    name: Flutter ${{ matrix.channel }}${{ matrix.version }}

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - channel: stable
          - channel: beta

    defaults:
      run:
        working-directory: packages/leancode_hooks

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: ${{ matrix.channel }}
          flutter-version: ${{ matrix.version }}

      - name: Flutter version
        run: flutter --version

      - name: Cache pub dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.FLUTTER_HOME }}/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-pub-

      - name: Download pub dependencies
        run: flutter pub get

      - name: Run analyzer
        run: flutter analyze

      - name: Run tests with coverage
        run: flutter test --coverage

      - name: Dry run pub publish
        # We don't want it to fail the CI, it's just to see how would `pub publish` behave.
        run: flutter pub publish --dry-run || true

      - uses: codecov/codecov-action@v1
        with:
          flags: leancode_hooks
