name: leancode_lint publish

on:
  push:
    tags: ['leancode_lint-v*']

jobs:
  publish:
    name: Publish to pub.dev

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: packages/leancode_lint

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: 2.12.0

      - name: Download pub.dev credentials
        env:
          CREDENTIALS: ${{ secrets.PUB_DEV_CREDENTIALS }}
        run: |
          mkdir -p ~/.pub-cache
          echo $CREDENTIALS > ~/.pub-cache/credentials.json

      - name: Publish
        run: dart pub publish -f
