name: login_client test

on:
  push:
    branches: [master]
    tags-ignore: ['login_client-v*']
    paths:
      - 'packages/login_client/**'
  pull_request:
    branches: [master]
    paths:
      - 'packages/login_client/**'

jobs:
  test:
    name: Dart ${{ matrix.dart_release }}

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dart_release: ['3.0.1']

    defaults:
      run:
        working-directory: packages/login_client

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.dart_release }}

      - name: Dart version
        run: dart --version

      - name: Cache pub dependencies
        uses: actions/cache@v2
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-pub-

      - name: Download pub dependencies
        run: dart pub get

      - name: Run analyzer
        run: dart analyze

      - name: Run tests with coverage
        run: |
          dart test --coverage=coverage
          dart run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --report-on=lib

      - name: Dry run pub publish
        # We don't want it to fail the CI, it's just to see how would `pub publish` behave.
        run: dart pub publish --dry-run || true

      - uses: codecov/codecov-action@v1
        with:
          flags: login_client
